extends ../layout

block content
  h1 registrations/new

  if user.errors
    p= JSON.stringify(user.errors)

  form(action="/registrations", method="POST")
    div.field
      label Email
        input(type="email", name="email")

    div.field
      label Password
        input(type="password", name="password")

    div.field
      input(type="submit" value="Sign Up")


